.object-container {
  background: rgba(0, 0, 0, 0.5);
  position: 'absolute';
  top: 0;
  z-index: 9999;
}

a-scene {
  height: 600px;
  background: rgb(18, 91, 151);
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
}