.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 10px;
  margin-top: 20px;
}

.object-categories-container {
  flex: 1;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.object-image {
  position: relative;
  float: left;
  width:  250px;
  height: 250px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px;
}

.object-image:hover {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.three-d-view-container {
  flex: 1;
  display: flex;
  height: 300px;
  width: 300px;
  background: rgba(0, 0, 0, 0.5);
  position: 'absolute';
  top: 0;
}